@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Raleway');
@import "buttons";
$base-duration: 500ms;

// Colors
$color-1: #d54242;
$color-2: #444;
$color-3: #2ecc71;
$color-4: #fff;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}
body { margin:0; padding:0; font-family: 'Raleway', sans-serif;}
main {position: relative; width: 100%;}
h1,h2,h3,h4,h5{font-family: 'Montserrat', sans-serif;}
img{width: 100%;}
header{
	padding: 1em;
	z-index: 3;
	background: $color-1;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);

	a{
		width: 100%;
		color: $color-4;
		font-family: 'Montserrat', sans-serif;
		margin: auto;
		padding-bottom: .5em;
	}
	.logo{
		width: 100%;

		img{
			height: 5em;
		}
	}
}
.search{
	width: 3em;
	padding: .5em;
	display: flex;

	img{
		margin: auto;
	}
}
label{
	display: block;
	margin-bottom: .5em;

	input{
		padding: .5em;
	}
}
#calculate-btn{
	margin: 1em 0;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	cursor: pointer;
	width: 15em;
	padding: 1em;
	border: 2px solid $color-1;
	transition: all .2s ease-in-out;
}
#calculate-btn:hover{
	background-color: $color-1;
	transition: all .2s ease-in-out;
}
.radio-btn{
	border: 1px solid $color-1;
	padding: 1em;
	cursor: pointer;
	display: block;
	margin-bottom: .5em;
}
.radio-btn.active{
	background: $color-1;
}
.insurance-results{
	padding: 1em;
	background-color: rgba($color-1, .5);
}
#about{
	padding: 0 .5em 5em .5em;
}
.content-section{
	display: flex;
	padding: 5em .5em;

	div{
		margin: auto;
		max-width: 50em;
	}
}
.voting-info{
	background-color: $color-1;
	h3{
		margin: 0 0 1em 0;
		text-align: center;
	}
	#geocoder{
		margin-bottom: 1em;

		.mapboxgl-ctrl-geocoder{
			width: 100%;
			border-radius: 0;
		}
	}
}
.card{
	background-color: $color-4;
	padding: 1em;
	margin-bottom: 1em;
}
.search-results{
	display: none;
}
.search-results.active{
	display: block;
	p{
		padding: 0 1em;
	}
}
.flex-grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	.img-container{
		margin: 0;
		width: 100%
	}
}
@media all and (min-width: 400px) {
	.flex-grid{
		.img-container{
			flex: 1;
		}
		.img-container:first-child{
			padding-right: 1em;
		}
		.img-container:last-child{
			padding-right: 1em;
		}
	}
	header{
		z-index: 3;
		background: $color-1;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		height: 5em;
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);

		a{
			width: 20em;
			color: $color-4;
			font-family: 'Montserrat', sans-serif;
			margin: auto;
		}

		.spacer{
			flex: 1;
		}

		.logo{
			width: 10em;
			position: relative;
			top: -1em;

			img{
				height: 5em;
			}
		}
	}
}
// ===================== main end =========================
footer{
	height: 5em;
	display: flex;
	background-color: $color-2;
	color: $color-4;
	text-align: center;

	div{
		margin: auto;
	}
}
